*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.conteneurBox{
    width: 100%;
    height: 100vh;
    position: fixed;
}
.boxTitle{
    width: 40%;
    height: 105px;
    padding-top: 45px;
    margin-left: 30%;
    margin-top: 5vh;
    border-radius: 50%;
    background-color: #31C581;
    text-align: center;
}
.title{
    font-size: 50px;
    color: #66546D;
}
.boxButton{
    width: 40%;
    height: 400px;
    margin-top: 10%;
    margin-left: 30%;
    text-align: center;
}
.Button{
    margin-top: 15%;
    margin-left: 35%;
    padding-top: 20px;
    cursor: pointer;
    background-color: #7FD826;
    border-radius: 40px;
    width: 30%;
    height: 30px;
}
.bordure{
    position: absolute;
    background-color: #31C581;
    width: 14%;
    height: 180px;
    border-radius: 50%;
    z-index: 50;
}
.bordurePos1{
    top: -80px;
    left: -80px;
}
.bordurePos2{
    top: -80px;
    left: 1355px;
}
.bordurePos3{
    top: 670px;
    left: -80px;
}
.bordurePos4{
    top: 670px;
    left: 1355px;
}
.boxRetour{
    z-index: 60;
    width: 100%;
    height: 50px;
    position: absolute;
    top:95px;
    left: 90px;
}
.boxRetour>img{
    width: 45%;
    cursor: pointer;
}
.boxMini{
    width: 80%;
    height: 80vh;
    margin-left: 10%;
    display: flex;
}
.mini{
    background-color: #FFFFFF;
    width: 40%;
    height: 100%;
    margin: 5%;
    border-radius: 30px;
    position: relative;
}
.bttPlayer{
    width: 50%;
    height: 45px;
    background-color: #E81235;
    border-radius: 30px;
    text-align: center;
    margin-top: 15%;
    padding-top: 3%;
    margin-left: 25%;
    cursor: pointer;
}
.bttPres{
    width: 80%;
    background-color: #DAE214;
    margin-top: 27%;
    margin-left: 10%;
    cursor: pointer;
}
.fontPlayer{
    font-size: 25px;
    font-weight: 45px;
    color: #FFFFFF;
}
.carteTheme{
    width: 40%;
    height: 300px;
    background: #000;
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 30px;
}
#scrollBox{
    overflow: scroll;
    border: 1px solid black;
    overflow: auto;
}
@media screen and (max-width: 1450px) {
    .bordurePos1{
        top: -90px;
        left: -90px;
    }
    .bordurePos2{
        top: -90px;
        left: 1320px;
    }
    .bordurePos3{
        top: 600px;
        left: -90px;
    }
    .bordurePos4{
        top: 600px;
        left: 1320px;
    }
    .bttPres{
        margin-top: 15%;
    }
}
@media screen and (max-width: 1100px) {   
    .bordure{
        width: 18%;
    }
    .bordurePos1{
        top: -75px;
        left: -75px;
    }
    .bordurePos2{
        top: -75px;
        left: 915px;
    }
    .bordurePos3{
        top: 590px;
        left: -75px;
    }
    .bordurePos4{
        top: 590px;
        left: 915px;
    }
    .Button{
        width: 40%;
        margin-left: 30%;
    }
    .bttPres{
        margin-top: 25%;
    }
    .boxRetour{
        left: 80px;
    }
}
@media screen and (max-width: 800px) {
    .bordure{
        width: 20%;
        height: 150px;
    }
    .bordurePos1{
        top: -55px;
        left: -55px;
    }
    .bordurePos2{
        top: -55px;
        left: 670px;
    }
    .bordurePos3{
        top: 595px;
        left: -75px;
    }
    .bordurePos4{
        top: 595px;
        left: 670px;
    }
    .boxButton{
        margin-top: 15%;
    }
    .Button{
        width: 50%;
        margin-left: 25%;
    }
    .boxRetour{
        left: 60px;
        top: 80px;
    }
}
@media screen and (max-width: 500px) {
    
}
span{
    font-family: Arial, Helvetica, sans-serif;
}
.volume{
    display: flex;
    position: relative;
    justify-content: center;
}
.volume input {
    margin-top: 13%;
    width: 500px;
}

